* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

.boxes {
    aspect-ratio: 1 / 1;
    flex: 0 0 6.25%;
    align-content: center; 
    /*use align-content and text-align when boxes are not flex or grid*/
    text-align: center;
    width: 60px;
    height: 60px;
    border: 2px solid salmon;
}

.is-active {
    background-color: pink;
}

/* button for number of sides */
#sides {
    height: 2rem;
}